<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::content})">
<div th:fragment="content">
    <h2 th:text="${title}">カテゴリ作成／編集</h2>

    <form th:action="@{${category.id} == null ? '/categories' : '/categories/update/' + ${category.id}}"
        th:object="${category}" method="post">

        <div>
            <label for="name">カテゴリ名：</label>
            <input type="text" id="name" th:field="*{name}" placeholder="例）仕事、プライベート" required />
        </div>

        <input type="hidden" th:field="*{user.id}" />

        <div style="margin-top: 10px;">
            <button type="submit">保存</button>
            <a th:href="@{/categories}" style="margin-left: 10px;">戻る</a>
        </div>
    </form>
</div>
</html>
